.cart-header {
  position: relative;
  width: 100%;
  height: 100px;
  font-size: 12px;
  border-bottom: 2px solid #ff6700;
  background: #fff;
  color: #b0b0b0;
  z-index: 20;

  .container {
    position: relative;
    width: 1226px;
    margin-left: auto;
    margin-right: auto;

    .nav-logo {
      position: absolute;
      width: 62px;
      top: 22px;
      left: 0;

      .logo {
        position: relative;
        display: block;
        width: 48px;
        height: 48px;
        overflow: hidden;
        background: url('https://s02.mifile.cn/assets/static/image/mi-logo.png') no-repeat 50% 50%;
        background-color: #ff6700;
        text-align: center;


        img {
          display: block;
          margin: 0 auto;
        }
      }

    }

    h3 {
      position: absolute;
      top: 25px;
      left: 90px;
      height: 48px;
      line-height: 48px;
      font-size: 28px;
      font-weight: 400;
      color: #424242;
    }

    p{
        position: absolute;
        top: 45px;
        left: 250px;
        color: #757575; 
        height: 20px;
        line-height: 20px;
    }

    .header-right {
      float: right;
      height: 40px;
      line-height: 40px;
      margin: 30px 10px 0 0;
      font-size: 12px;

      a {
        cursor: pointer;
        padding: 0 2px;
        text-align: center;
        display: block;
        font-size: 2px;
        float: left;
        color: #757575;
      }
    }
  }
}

.cart-main {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 20;
  background: #f5f5f5;
  padding: 38px 0;

  .container {
    position: relative;
    width: 1226px;
    margin: 0 auto;

    .shopping-list {
      width: inherit;
      background-color: #fff;

      .list-title {
        height: 70px;
        line-height: 70px;
        padding-right: 26px;
        color: #424242;
        font-size: 14px;

        .col {
          height: 70px;
          line-height: 70px;
          float: left;
          text-align: center;
          display: block;

          &.col-check {
            width: 110px;

            span {
              width: 18px;
              height: 18px;
              line-height: 18px;
              display: inline-block;
              color: #757575;
              border: 1px solid #e0e0e0;
              background: #fff;
              margin: -2px 15px 0 24px;
              font-size: 20px;
              text-align: center;
              vertical-align: middle;
              cursor: pointer;
            }
          }

          &.col-img {
            width: 120px;
          }

          &.col-name {
            width: 380px;
            text-align: left !important;
          }

          &.col-price {
            width: 140px;
            padding-right: 18px;

          }

          &.col-number {
            width: 150px;
          }

          &.col-statistics {
            width: 120px;
            margin-right: 70px;
            text-align: right;
          }

          &.col-operating {
            width: 80px;
          }

        }
      }

      .goods-list {
        position: relative;
        padding: 15px 26px 15px 0;
        border-top: 1px solid #e0e0e0;

        .goods-content {
          display: table;
          border-collapse: collapse;
          border-spacing: 0;

          .item-table {
            display: table-row;

            .col {
              display: table-cell;
              vertical-align: middle;

              a {
                color: #424242;
                font-size: 16px;
              }

              &.col-check {
                width: 110px;

                span {
                  width: 18px;
                  height: 18px;
                  line-height: 18px;
                  display: inline-block;
                  color: #757575;
                  border: 1px solid #e0e0e0;
                  background: #fff;
                  margin: 0 15px 0 0;
                  font-size: 20px;
                  text-align: center;
                  vertical-align: middle;
                  cursor: pointer;
                }
              }

              &.col-img {
                width: 120px;

                img {
                  width: 80px;
                  height: 80px;
                }
              }

              &.col-name {
                width: 380px;
                text-align: left !important;
              }

              &.col-price {
                width: 140px;
                padding-right: 18px;

              }

              &.col-number {
                width: 150px;

                .changeNum {
                  width: 148px;
                  height: 40px;
                  line-height: 40px;
                  background: #fff;
                  border: 1px solid #e0e0e0;


                  .btn {
                    display: block;
                    float: left;
                    width: 37px;
                    height: 38px;
                    line-height: 38px;
                    font-size: 20px;
                    border: none;
                    text-align: center;
                    color: #757575;
                    background: #fff;
                  }

                  .goods-num {
                    display: block;
                    width: 72px;
                    height: 38px;
                    line-height: 38px;
                    border: none;
                    float: left;
                    text-align: center;
                  }
                }
              }

              &.col-statistics {
                width: 120px;
                color: #ff6700 !important;
                margin-right: 70px;
                text-align: right;

              }

              &.col-operating {
                width: 80px;
              }
            }
          }
        }
      }
    }
    #box{
        width: inherit;
        margin: 20px auto;

        ul{
            margin-right: -14px;
            overflow: hidden;

            li{
                width: 234px;
                float: left;
                margin-right: 14px;
                background: #fff;
                text-align: center;
                position: relative;
                cursor: pointer;
                margin-bottom: 14px;

                .pro_img{
                    width: 150px;
                    height: 150px;
                    margin: 0 auto 18px;
                }
                .pro_name{
                    display: block;
                    text-overflow: ellipsis;
                    white-space: hidden;
                    font-weight: 400;

                    a{
                        color: #333;
                    }
                }
                .pro_price{
                    color: #ff6700;
                    margin: 10px;
                }
                .pro_rank{
                    color: #757575;
                    margin: 10px;
                }
                .add_btn{
                    height: 22px;
                    position: absolute;
                    width: 122px;
                    height: 50%;
                    margin-left: -61px;
                    line-height: 22px;
                    display: none;
                    color: #ff6600;
                    font-size: 12px;
                    border: 1px solid #ff6600;
                }
            }

            li:hover .add_btn{
                display: block;
            }
            li:hover .pro_rank{
               opacity: 0;
            }
            .add_btn:hover{
                background-color: #ff6600;
                color:white;
            }

        }
    }
  }
}