.companyMain {
  position: relative;
  width: 100%;
  margin-top: 0;
  z-index: 10;

  .isFixed {
    position: fixed;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
  }

  .container {
    position: relative;
    width: 1226px;
    margin-left: auto;
    margin-right: auto;

    .swiper-row {
      position: relative;
      margin-top: 0;
      width: 1226px;
      margin-left: auto;
      margin-right: auto;
      height: 460px;

      .swiper-container {
        position: relative;
        width: 1226px;
        height: 460px;
        z-index: 10px;

        img {
          width: 1226px;
          height: 460px;
        }

        .swiper-button-prev {
          width: 30px;
          height: 50px;
          margin-left: 240px;
          color: #ccc;
        }

        .swiper-button-next {
          width: 30px;
          height: 50px;
          color: #ccc;
        }

        .swiper-pagination {
          width: 100px;
          height: 30px;
          position: absolute;
          bottom: 15px;
          left: 1100px;
          color: #ccc;
        }
      }

      .category-item {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 500;
        display: block;
        width: 296px;
        height: 460px;
        border: 0;
        font-size: 14px;

        .category-top {
          width: inherit;
          height: 127px;
          background: rgba(23, 18, 21, 0.66);
          overflow: hidden;
          position: relative;

          img {
            display: block;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            padding: 2px;
            border: 1px solid #ccc;
            margin: 36px 11px 0 46px;
            float: left;
          }

          .top-right {
            float: left;
            text-align: left;
            margin: 30px 0 0 0;
            width: 170px;
            height: 58px;
            vertical-align: middle;

            h2 {
              width: 170px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 16px;
              font-weight: normal;
              color: rgba(255, 255, 255, 0.9);
              margin-top: 10px;
            }

            p {
              margin-top: 0;
              font-size: 12px;
              color: rgba(255, 255, 255, 0.77);
              cursor: pointer;
            }
          }


        }

        .category-bottom {
          width: inherit;
          height: 333px;
          background: rgba(23, 18, 21, 0.86);

          h3 {
            padding-top: 28px;
            font-size: 16px;
            text-align: center;
            color: #fff;
          }

          ul {
            display: block;
            margin: 20px 0 0 60px;
            height: auto;
            width: 236px;

            li {
              width: 236px;
              height: 38px;
              margin-bottom: 5px;

              .img {
                float: left;
                width: 23px;
                height: 25px;
                margin-top: 2px;

                &.img1 {
                  background: url(https://c1.mifile.cn/f/i/17/qiye/sprite.png) -23px center no-repeat;
                }

                &.img2 {
                  background: url(https://c1.mifile.cn/f/i/17/qiye/sprite.png) 0 center no-repeat;
                }

                &.img3 {
                  background: url(https://c1.mifile.cn/f/i/17/qiye/sprite.png) -46px center no-repeat;
                }

                &.img4 {
                  background: url(https://c1.mifile.cn/f/i/17/qiye/sprite.png) -69px center no-repeat;
                }
              }

              .bottom-right {
                float: left;
                width: 120px;
                margin-left: 18px;
                text-align: left;

                h2 {
                  font-size: 14px;
                  color: rgba(255, 255, 255, 0.9)
                }

                p {
                  margin-top: -2px;
                  font-size: 12px;
                  color: rgba(255, 255, 255, 0.6);
                }
              }
            }
          }

          .rule {
            display: block;
            font-size: 14px;
            text-align: center;
            width: inherit;
            opacity: .8;
            margin: 30px auto;
            color: #fff;

          }
        }
      }
    }

    .home-row {
      width: inherit;
      height: 170px;
      margin: 20px 0 30px 0;
      background-color: #fff;

      .home-img {
        width: inherit;
        display: block;
        float: left;

        li {
          height: 170px;
          width: 295px;
          float: left;
          margin-right: 15px;

          img {
            width: 100%;
            display: block;
          }

          &:nth-child(4) {
            margin-right: 0;
          }
        }




      }
    }
  }

  .commodity {
    position: relative;
    width: inherit;
    background: #f5f5f5;
    padding-bottom: 50px;
    padding-top: 50px;

    .home-brick {
      position: relative;
      width: 1226px;
      height: 440px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -20px;

      .brick-title {
        position: relative;
        width: inherit;
        height: 58px;


        h2 {
          position: absolute;
          left: 15px;
          top: 0;
          height: 58px;
          line-height: 58px;
          font-weight: 200;
          font-size: 22px;
          margin: 0;
          color: #333;
        }

        .all {
          position: absolute;
          top: 0;
          right: 10px;
          width: 92px;
          height: 58px;
          line-height: 58px;

          a {
            font-size: 16px;
            color: #424242;

            i {
              width: 12px;
              height: 12px;
              padding: 4px;
              margin-left: 8px;
              border-radius: 16px;
              font-size: 12px;
              line-height: 12px;
              background: #b0b0b0;
              color: #fff;
              vertical-align: 1px;
              -webkit-transition: all .4s;
              transition: all .4s;
            }

            a:hover {
              color: #ff6709 !important;
              cursor: pointer;
            }
          }
        }
      }

      .brick-box {
        position: relative;
        width: inherit;
        margin-top: 14px;

        .box-main {
          width: inherit;
          margin-bottom: 15px;

          li {
            width: 225px;
            height: 300px;
            padding-top: 39px !important;
            overflow: hidden;
            float: left;
            text-align: center;
            background: #fff;
            -webkit-transition: all .6s;
            transition: all .6s;
            position: relative;
            list-style: none;
            margin-bottom: 15px;
            overflow: hidden;
            margin-right: 20px;
            cursor: pointer;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;

            color: #757575;

            .thumb {
              width: 160px;
              margin: 0 auto 22px;

              img {
                width: 160px;
                height: 160px;
              }
            }

            .content-title {
              margin: 0 20px 3px;
              font-size: 14px;
              font-weight: 400;
              text-overflow: ellipsis;
              color: #212121 !important;
              overflow: hidden;
              white-space: nowrap;
            }

            .desc {
              height: 18px;
              margin: 0 20px 12px;
              font-size: 12px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              _zoom: 1;
              color: #b0b0b0;
            }

            .btn-primary {
              position: absolute;
              left: 0;
              bottom: -38px;
              transition: bottom .6s;
              width: 100%;
              height: 38px;
              line-height: 38px;
              display: inline-block;
              padding: 0;
              font-size: 14px;
              text-align: center;
              cursor: pointer;
              color: #fff;
              background: #ff6700;

            }
          }
        }

        li:last-child {
          margin-right: 0;
        }

        li:hover {
          transition: all linear 2s;
        }


      }
    }
  }
}