.header {
  position: relative;
  width: 100%;

  .topbar {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #333;
    color: #b0b0b0;
    font-size: 12px;
    z-index: 30px;

    .container {
      width: 1226px;
      margin-left: auto;
      margin-right: auto;

      li {
        float: left;
        text-align: center;
        height: 40px;
        line-height: 40px;

        a {
          font-size: 12px;
          color: #b0b0b0;
        }

        a:hover {
          color: #fff;
          cursor: pointer;
        }

        .sep {
          font-family: sans-serif;
          margin: 0 .4em;
          color: #424242;
        }

      }


      .topbar-list {
        display: block;
        float: left;
        height: 40px;
        line-height: 40px;
      }

      .topbar-info {
        position: relative;
        display: block;
        float: right;
        height: 40px;
        line-height: 40px;

        li {
          cursor: pointer;

          &.cartLi {
            display: block;
            width: 120px;
            margin-left: 10px;
            background-color: #424242;
          }

          i {
            padding: 0 .4em;
          }
        }
      }
    }
  }


  .nav {
    position: relative;
    width: 100%;
    height: 100px;

    .container {
      width: 1226px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      height: 100px;

      .nav-logo {
        width: 62px;
        float: left;
        margin-top: 22px;

        .logo {
          position: relative;
          display: block;
          width: 55px;
          height: 55px;
          overflow: hidden;
          background: url('https://s02.mifile.cn/assets/static/image/mi-logo.png') no-repeat 50% 50%;
          background-color: #ff6700;
          text-align: center;


          img {
            display: block;
            margin: 0 auto;
          }
        }

      }

      .nav-list {
        width: 850px;
        float: left;
        display: block;

        li {
          float: left;

          &.nav-title {
            width: 165px;
            height: 100px;
            line-height: 100px;

            img {
              margin-top: 20px;
            }
          }

          &.nav-menu {
            display: block;
            padding: 38px 12px;

            a {
              color: #333;
            }

            a:hover {
              cursor: pointer;
              color: #ff6700;
            }
          }

          &.nav-link {
            a {
              padding: 38px 12px;
              display: block;
              color: #333;
            }

            a:hover {
              cursor: pointer;
              color: #ff6700;
            }

            .link-list {
              position: absolute;
              z-index: 9999px;
              float: left;
              top: 100px;
              left: 0;
              width: 100%;
              height: 240px;
              border-top: 1px solid #ccc;
              background-color: #ff6700;
              display: block;

              .item-children {
                position: relative;
                width: 1226px;
                margin-left: auto;
                margin-right: auto;

                .item-detaile {
                  display: block;
                  width: 200px;
                  height: 240px;
                  float: left;

                  a {
                    display: block;
                    margin: 20px 0;
                    width: 200px;
                    height: 210px;
                    color: #333;
                    font-size: 12px;
                    text-align: center;

                    .item-img {
                      width: 200px;
                      height: 110px;
                      border-right: 1px solid #ccc;


                      &.last-item {
                        border-right: 1px solid transparent;
                      }

                      img {
                        width: 160px;
                        height: 110px;
                        margin-left: auto;
                        margin-right: auto;
                      }
                    }

                    .item-title {
                      margin-top: 10px;
                    }

                    .item-price {
                      margin-top: 5px;
                      color: #ff6700;
                    }
                  }
                }


              }
            }

          }

          &.nav-link:hover .link-list {
            display: none;
          }
        }
      }

      .search {
        position: relative;
        width: 296px;
        float: right;
        margin-top: 25px;
        height: 50px;

        .result-list {
          position: absolute;
          top: 0;
          left: 0;
          width: 223px;
          height: 50px;
          line-height: 48px;
          overflow: hidden;

          font-size: 14px;

          input {
            display: block;
            width: inherit;
            height: inherit;
            padding: 0 10px;
            border: 1px solid #e0e0e0;
          }

          .searchList {
            width: inherit;
            display: block;
            margin-top: 0;
            z-index: 20;
            background-color: #fff;

            li {

              a {
                position: relative;
                display: block;
                padding: 6px 15px;
                font-size: 12px;
                color: #424242;
                border: none;
              }
            }
          }
        }

        .result-list:hover {
          border: 1px solid #ff6700;
          height: 266px;
        }


        .btn {
          position: absolute;
          top: 0;
          left: 223px;
          width: 52px;
          height: inherit;
          border: 1px solid #e0e0e0;
          line-height: 24px;
          background: #fff;

          i {
            font-size: 26px;
          }
        }

        .btn:hover {
          background: #ff6700;
        }
      }
    }
  }

  .swiper {
    position: relative;

    .container {
      position: relative;
      z-index: -1px;
      width: 1226px;
      margin-left: auto;
      margin-right: auto;

      .swiper-row {
        position: relative;

        .swiper-container {
          position: relative;
          width: 1226px;
          height: 460px;
          z-index: 10px;

          img {
            width: 1226px;
            height: 460px;
          }

          .swiper-button-prev {
            width: 30px;
            height: 50px;
            margin-left: 240px;
            color: #ccc;
          }

          .swiper-button-next {
            width: 30px;
            height: 50px;
            color: #ccc;
          }

          .swiper-pagination {
            width: 100px;
            height: 30px;
            position: absolute;
            bottom: 15px;
            left: 1100px;
            color: #ccc;
          }
        }

        .category-item {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 20;
          display: block;
          float: left;
          width: 234px;
          border: 0;
          font-size: 14px;
          padding: 20px 0;
          background-color: rgba(105, 101, 101, 0.6);

          li {
            width: 234px;
            height: 42px;


            .main-menu {
              width: 234px;
              height: 42px;
              line-height: 42px;
              padding-left: 30px;
              text-align: start;

              a {
                color: #fff;
                cursor: pointer;

                i {
                  position: absolute;
                  right: 20px;
                }
              }
            }

            .main-menu:hover {
              background-color: #ff6700;
            }

            .sub-menu {
              position: absolute;
              top: 0;
              left: 235px;
              z-index: 999;
              height: 460px;
              width: 992px;
              background-color: #fff;
              display: none;

              .item-list {
                width: 245px;
                height: 460px;
                display: block;
                float: left;

                li {
                  display: block;
                  width: 245px;
                  height: 76px;

                  a {
                    display: block;
                    padding: 18px 20px;
                    line-height: 40px;
                    color: #333;
                    font-size: 14px;

                    img {
                      width: 40px;
                      height: 40px;
                      vertical-align: middle;
                    }

                    .text {
                      width: 172px;
                      line-height: 40px;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      overflow: hidden;
                    }
                  }
                }
              }
            }
          }

          li:hover .sub-menu {
            display: block;
          }
        }
      }
    }
  }
}