.container {
  position: relative;
  width: 1226px;
  margin-left: auto;
  margin-right: auto;


  .top {
    margin-left: 50px;
    width: 200px;
    height: 98px;
    background:
      url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png) no-repeat;

    a {
      cursor: pointer;
    }
  }

  .middle {
    background: url("https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/68e5f13a865fff66a3bdd41c472e7c19.jpg") no-repeat;
    background-position: top center;
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 556px;
    min-height: 556px;
    font-size: 14px;

    .type {
      width: 410px;
      height: 480px;
      background-color: #fff;
      position: absolute;
      right: 40px;
      top: 40px;



      .login-title {
        width: 410px;
        height: 80px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 27px 0 24px;
        text-align: center;
        font-size: 24px;
        color: #666;
        cursor: pointer;

        .signIn {
          color: #f56600;
        }

        span {
          width: 1px;
          height: 24px;
          margin: 0 35px 0 42px;
          border: 1px solid #e0e0e0;
        }
      }

      .login-type {
        width: 410px;
        height: 400px;
        position: absolute;
        left: 0;
        top: 80px;

        .account {
          margin: 0 auto;
          display: block;
          width: 346px;
          height: 48px;

          input {
            width: 346px;
            height: 48px;
            padding: 13px 16px 13px 14px;
          }


          &.last {
            margin: 20px auto;
          }
        }

        button {
          width: 348px;
          height: 50px;
          line-height: 50px;
          color: #fff;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
          background-color: #ff6700;
          margin-bottom: 14px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          border: none;
        }

      }

      .prompt {
        width: 348px;
        height: 205px;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;


        .sms-link {
          display: inline;
          margin-right: 20px;

          a {
            color: #ff6700;
            cursor: pointer;
          }
        }

        .other-login-type {
          display: inline;

          a {
            color: #999;
            cursor: pointer;
          }

          span {
            padding: 0 5px;
            color: #999;
          }
        }

        fieldset {
          margin-top: 100px;
          border-top: 1px solid #e0e0e0;
          border-left: none;
          border-right: none;
          border-bottom: none;
          padding-top: 10px;

          legend {
            font-size: 14px;
            color: #bbb;
          }
        }

        .other-type {
          width: inherit;
          height: 36px;
          padding: 3px 17px 0 17px;

          a {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 0 17px;

            i {
              display: block;
              margin: 4px auto 0;
              color: #fff;
              font-size: 18px;
            }

            &.btn-qq {
              background-color: #0288d1;
            }

            &.btn-weibo {
              background-color: #d32f2f;
            }

            &.btn-weixin {
              background-color: #00d20d;
            }

            &.btn-zhifubao {
              background-color: #0ae;
            }

            i {
              width: 30px;
              height: 30px;
            }
          }
        }
      }

    }
  }

  .bottom {
    position: relative;
    width: 100%;
    height: 80px;
    background: #fff;
    margin-top: 0;
    padding-top: 100px;
    z-index: 4;

    ul {
      width: inherit;
      height: 21px;
      text-align: center;

      li {
        display: inline-block;
        height: 21px;
        line-height: 21px;

        a {
          height: 14px;
          line-height: 14px;
          padding: 0 10px;
          color: #757575;
          font-size: 14px;

          &.font-type {
            color: #333 !important;
          }

          &.privacy {
            border-right: none !important;
          }
        }

        a:hover {
          cursor: pointer;
          color: #333;
        }

        i {
          color: #757575;
          font-size: 10px;
        }

      }
    }

    p {
      width: inherit;
      height: 46px;
      font-size: 14px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 0;
      color: #757575;
    }
  }
}