.main {
  position: relative;
  width: 100%;
  background-color: #f5f5f5;

  .container {
    position: relative;
    width: 1226px;
    margin-left: auto;
    margin-right: auto;

    .swiper-container {
      position: relative;
      width: 1226px;
      height: 460px;
      z-index: 10px;

      img {
        width: 1226px;
        height: 460px;
      }

      .swiper-button-prev {
        width: 30px;
        height: 50px;
        margin-left: 240px;
        color: #ccc;
      }

      .swiper-button-next {
        width: 30px;
        height: 50px;
        color: #ccc;
      }

      .swiper-pagination {
        width: 100px;
        height: 30px;
        position: absolute;
        bottom: 15px;
        left: 1100px;
        color: #ccc;
      }
    }

    .category-item {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9999;
      display: block;
      float: left;
      width: 234px;
      border: 0;
      padding: 20px 0;
      font-size: 14px;
      background-color: rgba(105, 101, 101, 0.6);

      li {
        width: 234px;
        height: 42px;
        line-height: 42px;
        padding-left: 30px;
        display: inline-block;
        position: relative;
        text-align: start;

        a {
          color: #fff;
          cursor: pointer;

          i {
            position: absolute;
            right: 20px;
          }
        }
      }

      li:hover {
        background-color: #ff6700;
      }
    }
  }
}