.main {
  position: relative;
  width: 100%;

  .container {
    position: relative;
    width: 1226px;
    margin-left: auto;
    margin-right: auto;

    .swiper-container {
      width: 1226px;
      height: 460px;

      .category-item {
        display: block;
        float: left;
        height: 420px;
        width: 234px;
        border: 0;
        padding: 20px 0;
        font-size: 14px;
        background-color: rgba(105, 101, 101, .6);

        li {
          width: 234px;
          height: 42px;
          line-height: 42px;
          padding-left: 30px;
          display: inline-block;
          position: relative;

          a {
            color: #fff;
            cursor: pointer;

            i {
              position: absolute;
              right: 20px;
            }
          }
        }

        li:hover {
          background-color: #ff6700;
        }
      }

      .swiper {
        float: right;
        width: 900px;
        background-color: rosybrown;
      }
    }



  }
}