.main {
  position: relative;
  width: 100%;

  .container {
    position: relative;
    width: 1226px;
    margin-left: auto;
    margin-right: auto;


    .row {
      position: relative;
      width: 1226px;
      margin-left: auto;
      margin-right: auto;

      &.home-row {
        height: 170px;
        margin: 20px 0 30px 0;
        background-color: #fff;

        .home-left {
          width: 234px;
          height: 170px;
          display: block;
          float: left;
          background-color: #5f5750;


          .home-ul {
            width: inherit;
            height: 85px;
            display: block;
            margin-left: 11px;

            &.clearfix::before {
              content: " ";
              display: table;
            }

            li {
              position: relative;
              padding: 0 3px;
              width: 70px;
              height: 82px;
              float: left;

              a {
                display: block;
                color: #fff;
                font-size: 12px;
                width: 70px;
                height: 64px;
                padding-top: 18px;
                opacity: .7;

                img {
                  display: block;
                  margin: 0 auto 4px;
                  width: 24px;
                  height: 24px;
                }
              }
            }

            .li-after::after {
              position: absolute;
              content: "";
              background: #665e57;
              top: 6px;
              left: 0;
              width: 1px;
              height: 70px;
            }

            li::before {
              position: absolute;
              content: "";
              background: #665e57;
              left: 6px;
              width: 64px;
              height: 1px;
            }
          }

        }

        .home-right {
          width: 978px;
          display: block;
          float: left;
          margin-left: 14px;

          li {
            float: left;
            margin-right: 10px;

            img {
              width: 316px;
              height: 170px;
            }
          }
        }
      }

      &.flash-sale {
        height: 398px;
        background-color: #f5f5f5;

        .flash-title {
          width: inherit;
          height: 58px;

          h2 {
            position: absolute;
            left: 0;
            top: 0;
            height: 58px;
            line-height: 58px;
            font-weight: 200;
            font-size: 22px;
            color: #333;
          }

          .btn {
            position: absolute;
            top: 0;
            right: 40px;

            .swiper-button-prev,
            .swiper-button-next {
              display: inline-block;
              width: 24px !important;
              height: 16px !important;
              padding: 3px 5px !important;
              font-size: 16px !important;
              cursor: pointer;
              color: #b0b0b0 !important;
              text-align: center !important;
              transition: color .5s !important;
              border: 1px solid #b0b0b0;
            }
          }
        }

        .falsh-container {
          width: inherit;
          height: 340px;

          .flash-timer {
            width: 234px;
            height: inherit;
            float: left;
            margin-right: 14px;
            border-top: 1px solid #e53935;
            background-color: #f1eded;

            h3 {
              font-size: 21px;
              color: #ef3a3b;
              padding-top: 54px;
            }

            img {
              width: 34px;
              height: 53px;
              margin: 25px auto;
            }

            h2 {
              color: rgba(0, 0, 0, .54);
              font-size: 15px;
            }

            .btn {
              position: absolute;
              top: 0;
              right: 30px;
            }
          }

          .falsh-swiper {
            width: 978px;
            height: inherit;
            float: left;

            .swiper-container {
              width: 978px;
              height: inherit;

              .swiper-wrapper {
                display: block;
                width: 234px;
                height: 339px;
                float: left;
                margin-right: 14px;
                background-color: #fff;
                ;

                a {
                  color: #757575;

                  .swiper-slide {
                    width: inherit;
                    height: inherit;

                    .thumb {
                      width: 160px;
                      margin: 0 auto 22px;

                      img {
                        width: 160px;
                        height: 160px;
                      }
                    }

                    .content-title {
                      margin: 0 20px 3px;
                      font-size: 14px;
                      font-weight: 400;
                      text-overflow: ellipsis;
                      color: #212121 !important;
                      overflow: hidden;
                      white-space: nowrap;
                    }

                    .desc {
                      height: 18px;
                      margin: 0 20px 16px;
                      font-size: 12px;
                      text-overflow: ellipsis;
                      color: #b0b0b0 !important;
                      overflow: hidden;
                      white-space: nowrap;
                    }

                    .price {
                      font-size: 14px;
                      margin: 0;
                      color: #ff6709 !important;

                      span {
                        color: #b0b0b0 !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}